{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Web Page</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <header>
        <h1>My Simple Web Page</h1>
        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>
     {% block body_block %}
    <main>
        <center>
            <h1>Welcome Come to My Webpage</h1>
            <p>Current Time and Date:<h2>{{time}}</h2></p>
            <form  method="POST">
                {% csrf_token %}

                {{UFO.as_p}}
                <input type="submit"value="LogIn">
            </form>

        </center>
        
        

        <section id="about">
            <h2>About</h2>
            <p>This section can contain information about you or your website.</p>
        </section>

        
        
       
    </main>
    {% endblock %}

    <footer>
        <p>Contact Information: <a href="mailto:example@example.com">example@example.com</a></p>
    </footer>
</body>
</html>